{% extends 'blog/base_blog.html' %}
{% block title %}

    POsts
{% endblock %}


{% block content %}

    <h1 class="mb-5">Hello Batman!</h1>
    <h2>Batman In The Jungle!</h2>

    {% for post in posts %}
        <p></p>


        <div class="card mb-4 text-center">
            <div class="card-header">
                {{ post.date_pub }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body|truncatewords:15 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-dark">Read</a>
            </div>
            {#  <div class="card-footer text-muted">#}
            {#    2 days ago#}
            {#  </div>#}
        </div>
    {% endfor %}




{% endblock content %}